.bottom {
  width: 150px;
  height: 0px;
  border: 5px solid black;
  background-color: black;
  grid-area: bt;
}
.pole {
  height: 350px;
  width: 0px;
  border: 5px solid black;
  background-color: black;
  grid-area: pl;
}
.noose {
  height: 0px;
  width: 100px;
  border: 5px solid black;
  background-color: black;
  grid-area: no;
}
.H-head {
  width: 60px;
  height: 60px;
  border: 5px solid black;
  border-radius: 50%;
  z-index: 1;
  grid-area: hd;
}
.H-eye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.H-eyeRight {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.H-arc {
  width: 35px;
  height: 10px;
  border-radius: 50%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.H-torso {
  width: 0px;
  background-color: black;
  border-right: 7px solid black;
  grid-area: ts;
}

.H-leftleg {
  width: 0px;
  border: 3px solid black;
  transform: rotate(12deg);
  transform-origin: top;
  grid-area: ll;
}
.H-rightleg {
  width: 0px;
  margin: 0;
  border: 3px solid black;
  transform: rotate(-12deg);
  transform-origin: top;
  grid-area: rl;
}

.H-leftarm {
  width: 0px;
  height: 30px;
  border: 3px solid black;
  transform: rotate(40deg);
  transform-origin: bottom-left;
  grid-area: la;
}
.H-rightarm {
  width: 0px;
  border: 3px solid black;
  transform: rotate(-50deg);
  transform-origin: top;
  grid-area: ar;
}
.game-human {
  display: grid;
  grid-template-areas:
    "| . | . | . | . | . | . |"
    "| . | no | no | no | . | . |"
    "| . | pl | . | hd | . | . |"
    "| . | pl | . | ts | . | . |"
    "| . | pl | la | ts | ar | . |"
    "| . | pl | . | ts | . | . |"
    "| . | pl | ll | . | rl | . |"
    "| . | pl | ll | . | rl | . |"
    "| bt | bt | bt | . | . | . |";
}
