.App {
  text-align: center;
  background-color: #fffcf7;
}
button {
  color: white;
  background-color: blue;
}
a:visited {
  color: white;
  background-color: #a1b5d8;
}
.header {
  background-color: #a1b5d8;
}
