.all {
  display: grid;
  grid-template-areas:
    "gs"
    "bt"
    "hm";
}
.game-start {
  grid-area: gs;
}
.alphabet {
  grid-area: bt;
  justify-content: center;
}
.hangman {
  grid-area: hm;
  padding: 0px;
}
.game-start p {
  font-size: 30px;
}
.game-start span {
  font-size: 90px;
}

@media only screen and (max-width: 750px) {
  .levels-link {
    font-size: 20px;
  }
  .game-start {
    font-size: 20px;
  }
  .game-start p {
    font-size: 15px;
  }
  .game-start span {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .game-btn {
    font: 5px;
  }
}
