.all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 2fr, 1fr;
}
.game-start {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  background-color: #a1b5d8;
}
.alphabet {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}
.hangman {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
}
.game-start p {
  font-size: 30px;
}
.game-start span {
  font-size: 90px;
}
.buttons {
  margin-bottom: 300px;
}
@media only screen and (max-width: 750px) {
  .levels-link {
    font-size: 20px;
  }
  .game-start {
    font-size: 20px;
  }
  .game-start p {
    font-size: 20px;
  }
  .game-start span {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .game-start h3 {
    font-size: 25px;
  }
  .game-btn {
    font: 5px;
  }
}
