.front-page-human {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repear(10, 1fr);
}
.eye {
  width: 10px;
  background-color: white;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 3;
}
.eyeRight {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 3;
}
.arc {
  width: 35px;
  height: 10px;
  border-radius: 50%;
  border-right: 1px solid transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid transparent;
  z-index: 3;
}
.head {
  width: 70px;
  height: 70px;
  border: 5px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform-origin: center bottom;
  z-index: 0;
}
.torso {
  height: 90px;
  border: 7px solid black;
}

.leftleg {
  height: 150px;
  border: 3px solid black;
  transform: rotate(12deg);
  transform-origin: top;
}

.rightleg {
  height: 150px;
  border: 3px solid black;
  transform: rotate(-12deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 350px;
  left: 80px;
  transform: rotate(-50deg);
  transform-origin: top;
}
.rightarmupper {
  width: 70px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 345px;
  left: 235px;
  transform: rotate(-50deg);
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.rightarm {
  width: 60px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 330px;
  left: 175px;
  transform: rotate(30deg);
  transform-origin: top;
}

@keyframes wave {
  0% {
    transform-origin: bottom left;
    transform: rotate(-60deg);
  }
  50% {
    transform-origin: bottom left;
    transform: rotate(-100deg);
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(-60deg);
  }
}
